{% extends "layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="home.css">
{% endblock style %}
{% block title %}
    <title>Foodfy | Home</title>
{% endblock title %}

{% block mainBody %}
    <div class="main-body">
        <div class="main-body-content">
            <header>
                <a href="/"><img src="assets/logo.png" alt="logo Foodfy"></a>
            </header>
    
            <main>
                <div class="bestRecipes-container">
                    <div class="textBestRecipes">
                        <h1>As melhores receitas</h1>
                        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                    </div>
                    <img src="assets/chef.png" alt="initial Chef">
                </div>

                <div class="recipesMostAccessed-container">
                    <h2>Mais Acessadas</h2>
                    <section class="recipes">
                       {% for dataRecipe in dataRecipes %}
                            <div class="recipe" id={{dataRecipes.indexOf(dataRecipe)}}>
                                <img src={{ dataRecipe.image }} alt="img recipe">
                                <div class="text-recipe">
                                    <p>{{ dataRecipe.title }}</p>
                                    <p><small>por {{ dataRecipe.author }}</small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </main>
        </div>
    </div>
{% endblock mainBody %}
{% block script %}
    <script src="/scripts/scripts.js"></script>
{% endblock script %}
{#{% block modal %}
    <div class="modal-overlay">
        <div class="modal">
            <div class="recipe" id= '{{ dataRecipe.id }}'>
                <img src="" alt="img recipe">
                <div class="text-recipe">
                    <p>Pizza 4 estações</p>
                    <p><small>por Fabiana Melo</small></p>
                </div>
            </div>
            <a class="closeModal">Fechar modal</a>
        </div>
    </div>
{% endblock modal %} #}